@import 'reset';
@import 'variables';
@import 'mixins';

// components
@import '../components/text-input-field/index';
@import '../components/form/index';
@import '../components/submitted-list/index';
@import '../components/submitted-item/index';

body {
  font-family: $font-stack;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $color-primary;
}

.container {
  padding: 20px;

  @include respond-to('small') {
    padding: 40px;
  }
}
