.form__input {
  display: block;
  font-size: 1rem;
  padding: 15px;
  border: solid 1px $color-grey;
  transition: border 0.25s $easeOutCubic;
  appearance: none;
  box-shadow: none;
  border-radius: 3px;
  width: 100%;

  &:focus {
    border-color: $color-primary;
    outline: none;
  }

  &-label {
    display: block;
    font-size: 1.4rem;
    color: $color-secondary;
    margin-bottom: 10px;
  }

  &-container {
    margin-bottom: 25px;
  }

  &-error {
    display: block;
    font-size: 1rem;
    color: $color-red;
    margin-top: 5px;
  }
}
